In [2]:
import pandas as pd
# !pip install openpyxl

excel_file = 'Data_Tables_LGA_Criminal_Incidents_Year_Ending_March_2022.xlsx'
all_sheets = pd.read_excel(excel_file, sheet_name=None)
sheets = all_sheets.keys()

for sheet_name in sheets:
    sheet = pd.read_excel(excel_file, sheet_name=sheet_name)
    sheet.to_csv("%s.csv" % sheet_name, index=False)

Requirement already satisfied: openpyxl in /Users/juliacooper/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /Users/juliacooper/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages (from openpyxl) (1.1.0)

FileNotFoundError: [Errno 2] No such file or directory: 'Data_Tables_LGA_Criminal_Incidents_Year_Ending_March_2022.xlsx'

Contents	
Table 01

* Criminal incidents and rate per 100,000 population by police region and local government area - April 2012 to March 2022

Table 02	

* Criminal incidents and rate per 100,000 population by principal offence, local government area and police service area - April 2012 to March 2022

Table 03	

* Criminal incidents by principal offence, local government area and postcode or suburb/town - April 2012 to March 2022

Table 04	

* Criminal incidents by location type and local government area - April 2012 to March 2022

Table 05	

* Criminal incidents by charge status and local government area - April 2012 to March 2022
	
### Data exclusions	
Table 01 

* excludes criminal incidents where the geographic location is unknown. For further information of these geographic locations please refer to the Explanatory Notes and Glossary on the website.	

Tables 02 - 05 

* excludes criminal incidents at Justice institutions and immigration facilities, Unincorporated Victoria and where the geographic location is unknown. For further information of these geographic locations please refer to the Explanatory Notes and Glossary on the website.	
	
Notes	
Recorded crime statistics are based on data extracted by Victoria police on the 18th day after the reference period, and are subject to movement between releases. For more information about how statistics are compiled, refer to the Explanatory notes on the CSA website.	
In order to maintain confidentiality, sensitive offence counts for subdivisions 'A10 Homicide and related offences' and 'A30 Sexual offences' with a value of 3 or less are given a value of 2 to calculate totals.	
Rates are based on populations provided by the Australian Bureau of Statistics (ABS). The most recent year of data was not available from the ABS in time for it to be used to calculate current year rates. The CSA uses estimates created by the Victorian State Government 'Victoria in Futures' report. 	
This work is licenced under a Creative Commons Attribution 4.0 International License. When reporting this data you must attribute the Crime Statistics Agency (or CSA) as the source.

In [3]:
#Create list of dataframes from csv files
file_list = []
for i in range(1,6):
    file_list.append(f"Table 0{i}.csv")

# df_list = [pd.read_csv(file) for file in file_list]

In [4]:
file_list

['Table 01.csv',
 'Table 02.csv',
 'Table 03.csv',
 'Table 04.csv',
 'Table 05.csv']

In [13]:
import pandas as pd
df_list = [pd.read_csv(file) for file in file_list]

In [15]:
df_list[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         870 non-null    int64
 1   Year ending                  870 non-null    object
 2   Police Region                870 non-null    object
 3   Local Government Area        870 non-null    object
 4   Incidents Recorded           870 non-null    int64
 5   Rate per 100,000 population  830 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 40.9+ KB

In [21]:
# df_list[0]['Date'] = df_list[0][]

police_region_df = df_list[0].loc[df_list[0].Year > 2018].drop('Year ending',axis=1)
police_region_df.head()

,Year,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population"
0,2022,1 North West Metro,Banyule,5244,4086.865525
1,2022,1 North West Metro,Brimbank,12330,6200.959480
2,2022,1 North West Metro,Darebin,9276,5751.475727
3,2022,1 North West Metro,Hobsons Bay,4599,4804.896128
4,2022,1 North West Metro,Hume,12196,4919.684615

In [22]:
police_division_df = df_list[1].loc[df_list[1].Year > 2018].drop('Year ending',axis=1)
police_division_df.head()

,Year,Police Service Area,Local Government Area,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,"PSA Rate per 100,000 population","LGA Rate per 100,000 population"
0,2022,Ballarat,Ballarat,A Crimes against the person,A10 Homicide and related offences,A10 Homicide and related offences,5,4.059101,4.328089
1,2022,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,120,97.418429,103.874128
2,2022,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,147,119.337575,127.245807
3,2022,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",53,43.026473,45.877740
4,2022,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,222,180.224093,192.167137

In [23]:
suburb = df_list[2].loc[df_list[2].Year > 2018].drop('Year ending',axis=1)
suburb.head()

,Year,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2022,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,2
1,2022,Alpine,3691,Dederang,B Property and deception offences,B30 Burglary/Break and enter,B321 Residential non-aggravated burglary,1
2,2022,Alpine,3691,Dederang,B Property and deception offences,B50 Deception,B53 Obtain benefit by deception,1
3,2022,Alpine,3691,Dederang,D Public order and security offences,D20 Disorderly and offensive conduct,D22 Drunk and disorderly in public,1
4,2022,Alpine,3691,Kergunyah South,E Justice procedures offences,E10 Justice procedures,E14 Pervert the course of justice or commit pe...,1

In [10]:
df_list[3]

,Year,Year ending,Local Government Area,Location Division,Location Subdivision,Location Group,Incidents Recorded
0,2022,March,Alpine,1 Residential,11 Dwelling - private,111 Flat/Unit/Apartment,4
1,2022,March,Alpine,1 Residential,11 Dwelling - private,112 House,118
2,2022,March,Alpine,1 Residential,11 Dwelling - private,114 Caravan/Mobile Home,3
3,2022,March,Alpine,1 Residential,11 Dwelling - private,116 Ministry Of Housing,1
4,2022,March,Alpine,1 Residential,11 Dwelling - private,117 Farm House,4
...,...,...,...,...,...,...,...
53350,2013,March,Yarriambiack,3 Other,37 Agricultural,371 Farmland/Agricultural,5
53351,2013,March,Yarriambiack,3 Other,38 Recreational,381 Licensed Premises,2
53352,2013,March,Yarriambiack,3 Other,38 Recreational,384 Sport Area/Facility,3
53353,2013,March,Yarriambiack,3 Other,38 Recreational,386 Other Rec./Sports,3
53354,2013,March,Yarriambiack,3 Other,39 Other location,392 Other Location (Not Elsewhere),4

In [11]:
df_list[4]

,Year,Year ending,Local Government Area,Charge Status,Incidents Recorded
0,2022,March,Alpine,Charges laid,149
1,2022,March,Alpine,No charges laid,114
2,2022,March,Alpine,Unsolved,108
3,2022,March,Ararat,Charges laid,467
4,2022,March,Ararat,No charges laid,217
...,...,...,...,...,...
2365,2013,March,Yarra Ranges,No charges laid,792
2366,2013,March,Yarra Ranges,Unsolved,2614
2367,2013,March,Yarriambiack,Charges laid,127
2368,2013,March,Yarriambiack,No charges laid,53
2369,2013,March,Yarriambiack,Unsolved,85